<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression" configfailurepolicy="skip">
  <test name="Windows">
    <classes>
      <class name="Voicezone_Runner.TestRunner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->